/*Tipografía*/

$cuerpo-xs: 0.9rem;
$cuerpo-m: 1.5rem;
$cuerpo-xl: 1.5rem;

$titular-xs: 2rem;
$titular-m: 3rem;
$titular-xl: 3rem;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=VT323&display=swap");

$font-b: "Roboto", sans-serif;
$font-h: "VT323", monospace;

/*Colores type pkm*/

$bug: #92bc2c;

$dark: #595761;

$dragon: #0c69c8;

$electric: #f2cf4e;

$fire: #fba54c;

$fairy: #ee90e6;

$fighting: #d3425f;

$flying: #a1bbec;

$ghost: #5f6dbc;

$grass: #5fbd58;

$ground: #da7c4d;

$ice: #75d0c1;

$normal: #a0a29f;

$poison: #b763cf;

$psychic: #fa8581;

$rock: #c9bb8a;

$steel: #5695a3;

$water: #539ddf;
